<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">
    <test name="AllTests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.RegisterTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.FilterTest"/>
            <class name="tests.HoverTest"/>
            <class name="tests.SaleTest"/>
            <class name="tests.SortTest"/>
            <class name="tests.WishListToCartTest"/>
        </classes>
    </test>
</suite>
